<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351764325788-01c3vvunt73n868o1k13mtqp5lfn83gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351764325788-01c3vvunt73n868o1k13mtqp5lfn83gt</string>
	<key>API_KEY</key>
	<string>AIzaSyC8giYV-Cl34HbA7xRuMnzhxQpIx37Meus</string>
	<key>GCM_SENDER_ID</key>
	<string>351764325788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.AuthenticationPractice</string>
	<key>PROJECT_ID</key>
	<string>authenticationpractice-94ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationpractice-94ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351764325788:ios:1d75e4aa36acccf0809459</string>
</dict>
</plist>